<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>{{ isLoginMode() ? 'ВХОД' : 'РЕГИСТРАЦИЯ' }}</h2>
        </div>

        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Логин</label>
                <input type="text" [(ngModel)]="login" name="login" placeholder="Ваш логин" required>
            </div>

            <div class="form-group" *ngIf="!isLoginMode()">
                <label>Почта</label>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Ваша почта" required>
            </div>

            <div class="form-group">
                <label>Пароль</label>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Ваш пароль" required>
            </div>

            <div class="form-group" *ngIf="!isLoginMode()">
                <label>Повторите пароль</label>
                <input type="password" [(ngModel)]="repeatPassword" name="repeatPassword" placeholder="Повторите пароль"
                    required>
            </div>

            <button type="submit" class="submit-btn">
                {{ isLoginMode() ? 'ВОЙТИ' : 'СОЗДАТЬ АККАУНТ' }}
            </button>
        </form>

        <div class="auth-footer">
            <a href="javascript:void(0)" (click)="toggleMode()">
                {{ isLoginMode() ? 'Нет аккаунта? Регистрация' : 'Есть аккаунт? Вход' }}
            </a>
        </div>
    </div>
</div>